<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos Registrados</title>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('f02935829e1f1f02e7a1', {
      cluster: 'us2'
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      alert(JSON.stringify(data));
    });
  </script>
</head>
<body>
    <h1>Lista de Contactos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Correo Electrónico</th>
                <th>Nombre</th>
                <th>Asunto</th>
            </tr>
        </thead>
        <tbody>
            {% for contacto in registros %}
            <tr>
                <td>{{ contacto[0] }}</td>
                <td>{{ contacto[1] }}</td>
                <td>{{ contacto[2] }}</td>
                <td>{{ contacto[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

